body {
  background-color: #787bf9;
  padding: 10px;
}

.shadow-1 {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

.br-10 {
  border-radius: 10px;
}
.z {
  z-index: 2;
}

.light-bg {
  background-color: white;
}

.cp {
  cursor: pointer;
}

.f70 {
  font-size: 70px;
}
.active-nav {
  background-color: #ebebeb;
  padding: 10px;
  border-radius: 10px;
}
/* .inactive-nav:hover {
  background-color: #ebebeb;
  padding: 10px;
  border-radius: 10px;
} */

.banner-heading {
  font-size: 70px;
  color: #333547;
  margin-left: 100px;
}
.services-heading {
  color: #f37168;
}
.banner-img {
  max-width: 700px;
}
.call-us-btn {
  background-color: #ebebeb;
  color: #f37168;
  padding: 10px 15px;
  font-size: 30px;
  border-radius: 10px;
  cursor: pointer;
  text-transform: capitalize;
  border: none;

  transition: background-color 200ms ease-in-out;
}
.call-us-btn:hover {
  background-color: #333547;
}


.contact {
  width: 25%;
  margin: auto;
}